.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 70%;
}

li {
    margin: 0 25px;
}

.menu {
    display: flex;
    &__item {
        mat-icon {
            margin-right: 5px;
        }
    }
}